<ion-header>
  <ion-toolbar color="primary">
    <ion-title>About</ion-title>

    <ion-buttons slot="primary">
      <ion-button icon-only (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content text-center padding>
  <img src="assets/img/appicon.svg" />
  <h1>Ionic Identity Vault</h1>
  <h2>Demo Application</h2>
  <h3>Identity Vault Version 3.0.0</h3>
  <h3>Current User: {{user?.email}}</h3>
</ion-content>