<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Contact
    </ion-title>

    <ion-buttons slot="primary">
      <ion-button icon-only (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>
        Follow us on Twitter
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <ion-icon name="logo-ionic" slot="start"></ion-icon>
        @ionicframework
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>