<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Settings
    </ion-title>

    <ion-buttons slot="primary">
      <ion-button icon-only (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content text-center padding>
  <h1>Nothing to see here</h1>
  <h2>Move along now...</h2>
  <div>This is the unsecure branch that just stores the token in one of the web storage mechanisms. Settings can be
    set in the Identity Vault branch. This page is just a placeholder for future
    excitment and fun.</div>
</ion-content>