<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Settings
    </ion-title>

    <ion-buttons slot="primary">
      <ion-button icon-only (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content text-center padding>
    <ion-list>
      <ion-item>
        <ion-label>Use Biometrics</ion-label>
        <ion-toggle [(ngModel)]="useBiometrics" (ionChange)="useBiometricsChanged()"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>{{biometricType}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>